@charset "UTF-8";
/* CSS Document */
a{
	text-decoration: none;
	color: black;
}
body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
svg:hover ,
svg:hover  { 
  fill: #555;
}
.header{
	background-color: #fff;
	padding: 20px;
	text-align: center;
	margin: 0px;
}
li.navlink{
	display: inline;
	margin:10px;
	font-size: 24px;
	text-decoration: none;
	transition: 0.4s;
}
li.navlink:hover{
	color: #4DC3DB;
}
		button{
			border: 3px gray solid;
			border-radius: 15px;
			background-color: white;
			padding:15px;
			text-transform: uppercase;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			font-size: 20px;
			font-weight: 800;
			transition: 0.4s;
			color: gray;
		}
		button:hover{
			border: 3px gray solid;
			border-radius: 15px;
			background-color: gray;
			padding:15px;
			text-transform: uppercase;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			font-size: 20px;
			font-weight: 800;
			color: white;
		}
		button:focus {outline:none;}
		

		
		 #highcharts-34824405-6fed-44e1-8972-f531fcd4d9a5{
			
			transition: opacity 0.4s;
			opacity: 0;
		}

		 #highcharts-6d2c77a9-1912-4cbb-8cb1-7e4a85ae7c76{
			
			transition: opacity 0.4s;
			opacity: 0;
		}


		 #highcharts-b05805d2-bb4c-4df5-b894-917a3128edf4{
			
			transition: opacity 0.4s;
			opacity: 0;
		}

		 #highcharts-66fac1c4-c754-4bc9-98f9-9e8594d080c0{
			
			transition: opacity 0.4s;
			opacity: 0;
		}


		.displayon{
			
			
			opacity: 1 !important;
			
		}

